:root{
    --text-color: #757575;
    --background-color:#F5F4FA;
    --header-background-color:#FFFFFF;
    --hero-background-color:#2F303A;
    --footer-background-color:#2F303A;
    --title-text-color: #212121;
    --name-text-color: #212121;
    --logo-blue-color:#2196F3;
    --logo-black-color:#000000;
    --logo-white-color: #ffffff;
    --active-color:#2196F3;
    --background-button-color-blue: #2196F3;
    --background-button-color: #F5F4FA;
    --text-button-color: #ffffff;
    --text-footer-color: #ffffff;
    --text-footer-tel-mail-color: #ffffff9c;

    --main-font: Roboto, sans-serif;
    --logo-font: Raleway, sans-serif;
}

body{
    font-family: var(--main-font, 'Verdana', sans-serif);
  /*----------------------------------------*/
    color: var(--text-color, black);
}


.link{
    color: inherit;
    text-decoration: none;
}   
.list{
    list-style: none;  
}
.logo{
    font-family: var(--logo-font, sans-serif);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03;
    text-decoration: none;
}
.logo-color{
    color: var(--logo-blue-color, blue);
}
.container{
    margin:0 auto;
    width: 1200px;
    
}
/*---------------HEADER------------------------------------------*/

.logo-nav{
    color: var(--logo-black-color, black);
}
.menu-nav{
    font-family: var(--main-font, sans-serif); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color, black);
}
.mail-tel-header{
    font-family: var(--main-font, sans-serif);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.link-menu-nav:hover,
.link-menu-nav:focus{
    color: var(--active-color, blue);
}
.link-mth:hover{
    color: var(--active-color, blue);
}
.active{
    color: var(--active-color, blue);
}

/*---------------HEADER------------------------------------------*/


/*---------------MAIN-INDEX-----------------------------------------*/
.hero{
    background-color: var(--hero-background-color);
}
.title-hero{
    font-family: var(--main-font, sans-serif);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--logo-white-color, white);
}
.button-hero{
    font-family: var(--main-font, sans-serif);
    font-style: normal;
    font-weight:700;
    font-size: 16px;
    line-height:1.87;
    letter-spacing: 0.06em;
    background-color: var(--background-button-color-blue, blue);
    color: var(--text-button-color, white);
    border-color:  var(--background-button-color-blue, blue);
    border-radius: 4px;
    cursor:pointer;
}
.title-about-uns{
    font-family: var(--main-font, sans-serif);
    font-style: normal;
    font-size: 14px;
    font-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color, black);
}
.text-about-uns{
    font-family:var(--main-font,sans-serif);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.title-services{
    font-family: var(--main-font, sans-serif);
    font-style: normal;
    font-size: 36px;
    line-height:1.16;
    letter-spacing: 0.03em;
    color:var(--title-text-color, black);
}
.our-team{
    background:var(--background-color, grey);
}
.title-our-team{
    font-family: var(--main-font, sans-serif);
    font-style: normal;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color:var(--title-text-color, black);
}
.specialist-name{
    font-family: var(--main-font, sans-serif);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color:var(--name-text-color, black);
}
.specialist{
    font-family:  var(--main-font, sans-serif);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
/*---------------MAIN-INDEX--------------------------------------*/


/*---------------MAIN-PORTFOLIO----------------------------------*/
.button{
    font-family:var(--main-font,sans-serif);
    font-style:normal;
    font-weight:500;
    font-size:16px;
    line-height:1.62;
    letter-spacing:0.03em;
    color:var(--title-text-color,black);
    background-color:var(--background-button-color, grey);
    border-color: var(--background-button-color, grey);
    border-radius: 4px;
    cursor:pointer;
}
.button:hover,
.button:focus{
    background-color:var(--active-color, blue);
    color:var(--text-button-color,white);
    border-color:var(--active-color, blue);
}
.title-portfolio-list{
    font-family:var(--main-font,sans-serif);
    font-style: normal;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color, black);
}
.description{
    font-family:var(--main-font,sans-serif);
    font-size: 16px;
    line-height: 1.83;
    letter-spacing: 0.03em;
}

/*---------------MAIN-PORTFOLIO----------------------------------*/
 

/*---------------FOOTER------------------------------------------*/
.footer{
    background-color: var(--footer-background-color);
}
.logo-footer{
    color: var(--logo-white-color, white);
}
.adress{
    font-family:  var(--main-font, sans-serif);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--text-footer-color, white);
}
.footer-mail-tel{
    color: var(--text-footer-tel-mail-color);
}
.footer-mail-tel:hover{
    color: var(--active-color, blue);
}